*.pyc
.project
.pydevproject
.settings
syjon/config.py

# Static and media files
static/
media/

# Celery
celerybeat.pid
celerybeat-schedule

# PyCharm
.idea/

# Pyenv
.python-version

# Apache
.htaccess
.htaccess.save

# Temporary files and directories
*~
tmp/

# Environemntal variables
.env
