django==5.2.5
django-modeltranslation==0.19.16
django-extensions==4.1
python-dateutil==2.9.0.post0
pillow==11.3.0
#mysqlclient==2.2.7
pymysql==1.1.2
weasyprint<53
cryptography==45.0.7
python-dotenv==1.1.1
