{% extends "trinity/base.html" %}

{% load i18n %}

{% block breadcrumb %}
    <a href="{% url 'merovingian:course:list' %}">{% trans "Courses" %}</a>
    &raquo; <a href="{% url 'merovingian:course:details' course.id %}">{{ course }}</a>
    &raquo; <a href="{% url 'trinity:mlo:select_sgroup' course_id=course.id %}">{% trans "Choosing speciality" %}</a>
    &raquo; <a href="{% url 'trinity:mlo:select_module' course_id=course.id sgroup_id=sgroup.id%}">Wybór przedmiotu</a>
	&raquo; <span>Przeglądanie</span>
{% endblock %}

{% block content %}
	<h2>Przeglądanie efektów uczenia się przedmiotu</h2>
    <table class="table_0 no_cell_borders no_border">
        <tbody>
            <tr><td class="label">{% trans "Course" %}:</td><td>{{ course }}</td></tr>
            <tr><td class="label">{% trans "Speciality" %}:</td><td>{{ sgroup.name }}</td></tr>
            <tr><td class="label">Przedmiot:</td><td>{{ module }}</td></tr>
        </tbody>
    </table>
    <div class="spacer_5"></div>

    <form method="post" action="{% url 'trinity:mlo:delete' course_id=course.id sgroup_id=sgroup.id module_id=module.id %}">
    	{% csrf_token %}
	    <table class="table_0">
	        <thead>
	            <tr>
	                <td>{% trans "Actions" %}</td>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td>
	                	{% if is_course_admin or request.user.is_superuser %}
		                    <a class="link_add link_0" href="{% url 'trinity:mlo:add' course_id=course.id sgroup_id=sgroup.id module_id=module.id %}">
		                    	Dodaj
		                    </a>
		                    <span class="separator">|</span>
							<button class="link_delete button_0" type="submit">
			                	{% trans "Delete selected" %}
			                </button>
			                <span class="separator">|</span>
						{% endif %}
						<a class="link_print link_0" href="{% url 'trinity:mlo:pdf' course_id=course.id sgroup_id=sgroup.id module_id=module.id %}" target="_blank">
							{% trans "Print" %}
						</a>
					</td>
	            </tr>
	        </tbody>
	    </table>
		<div class="spacer_5"></div>
	
	    {# TABELA Z MODUŁOWYMI EFEKTAMI KSZTALCENIA #}
		<div id="ee_show">
	    	{% if mlos %}
	    		<table class="table_0">
	    			<thead>
	    				<tr>
	    					{% if is_course_admin or request.user.is_superuser %}
	    						<td class="delete"></td>
	    					{% endif %}
	    					<td class="symbol">
	    						{% trans "Symbol" %}
	    					</td>
	    					<td class="description">
	    						{% trans "Description" %}
	    					</td>
	    					<td class="clo">
	    						Kierunkowe efekty uczenia się
	    					</td>
	    					{% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
	    						<td class="alo">
	    							Charakterystyki drugiego stopnia PRK
	    						</td>
	    					{% endif %}
	    				</tr>
	    			</thead>
	    			<tbody>
	    				{% for mlo in mlos %}
	        				<tr class="{% cycle 'odd' 'even' %}">
	        					{% if is_course_admin or request.user.is_superuser %}
		        					<td class="delete">
		        						<input type="checkbox" value="{{ mlo.id }}" name="selected_id" />
		        					</td>
		        				{% endif %}
	        					<td class="symbol">
	        						{% if is_course_admin or request.user.is_superuser %}
		        						<a class="link_edit link_0" href="{% url 'trinity:mlo:update' course_id=course.id sgroup_id=sgroup.id module_id=module.id mlo_id=mlo.id %}">
		        							{{ mlo.symbol }}
		        						</a>
		        					{% else %}
		        						<span>{{ mlo.symbol }}</span>
		        					{% endif %}
	        					</td>
	        					<td class="description">
	        						{{ mlo.description|linebreaksbr }}
	        					</td>
	        					<td class="clo">
	        						<ul class="clos_list">
	        							{% for clo in mlo.clos.all %}
	        								<li>
	        									<a href='' class='tip' title='{{ clo.description }}'>
	        										{{ clo }}
	        									</a>
	        								</li>
	        							{% endfor %}
	        						</ul>
	        					</td>
								<td class="alo">
									<ul class="alos_list">
										{% for loc in mlo.get_related_locs %}
											<li>
												<a href='' class='tip' title='{{ loc.description }}'>
													{{ loc }}
												</a>
											</li>
									   {% endfor %}
									</ul>
								</td>
	        				</tr>
	    	        	{% endfor %}
	    			</tbody>
	    		</table>
	    		<div class="spacer_5"></div>
	    	{% else %}
	    		<ul class="infolist">
	    			<li>{% trans "List of learning outcomes is empty." %}</li>
	    		</ul>
	    	{% endif %}
	    </div>
	</form>
{% endblock %}
