{% extends "base_0p.html" %}
{% load i18n static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'trinity/css/print.css' %}" type="text/css" />
{% endblock %}

{% block body %}
    <h2 class="center margin-bottom-medium">{% trans "Course learning outcomes" %}</h2>
    <table class="margin-bottom-medium">
        <tr>
            <td class="label">{% trans "Course" %}: </td>
            <td class="value"><b>{{ course.name }}</b></td>
        </tr>
        <tr>
            <td class="label">{% trans "Level" %}: </td>
            <td class="value">{{ course.level }}</td>
        </tr>
        <tr>
            <td class="label">{% trans "Type" %}: </td>
            <td class="value">{{ course.type }}</td>
        </tr>
        <tr>
            <td class="label">{% trans "Profile" %}: </td>
            <td class="value">{{ course.profile }}</td>
        </tr>
        <tr>
            <td class="label">{% trans "Year of didactic offer approval" %}: </td>
            <td class="value">{{ course.start_date.year }}</td>
        </tr>
    </table>

    {% regroup clos by education_category as category_list %}
    {% if category_list %}
        {% for category in category_list reversed %}
            <h3 class="margin-bottom-small">{% trans "Category" %}: {{ category.grouper }}</h3>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Symbol" %}</th>
                        <th>{% trans "Description" %}</th>
                        {% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
                            <th>{% trans "Area learning outcomes" %}</th>
                        {% endif %}
                        <th style="width: 220px;">{% trans "Modules" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clo in category.list %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td class="center">{{ clo.symbol }}</td>
                            <td>{{ clo.description }}</td>
                            {% if not course.is_level_phd and not course.is_level_pg_q and not course.is_level_pg_fl %}
                                <td>
                                    <ul>
                                        {% for alo in clo.alos.all %}
                                            <li>{{ alo }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endif %}
                            <td>
                                <ul>
                                    {% for module in clo.get_related_modules %}
                                        <li>{{ module }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>{% trans "List of learning outcomes is empty." %}</p>
    {% endif %}

{% endblock %}
