{% extends "trainman/base.html" %}

{% load i18n %}

{% block page_title %} {% trans "Reset password" %} {% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div id="password_reset">
        {% if validlink %}
            <h2>{% trans "Enter new password" %}.</h2>
            <p>{% trans "Enter the new password twice in order to verify that you have typed it correctly." %}</p>
            <div class="spacer_15"></div>
            
            <form action="" method="post">
                {% csrf_token %}
                <table class="table_0">
                    <tr>
                        <td class="label">{{ form.new_password1.errors }}<label for="id_new_password1">{% trans "New password" %}:</label></td>
                        <td class="item">{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.new_password2.errors }}<label for="id_new_password2">{% trans "Repeat new password" %}:</label></td>
                        <td class="item">{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td class="item"><button class="button_2" type="submit">{% trans "Send" %}</button></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h2>{% trans "Password reset failed" %}</h2>
            <p>{% trans "Link to reset your password was incorrect, perhaps because it has already been used once. You can request a password reset again." %}</p>
        {% endif %}
    </div>
{% endblock %}
