{% extends "metacortex/search_engine/base.html" %}
{% load i18n staticfiles %}

{% block page_title %} {% trans "Subject syllabus" %} {% endblock %}

{% block content %}
    <div id="s_info">
		<div class="print_format">
			<h1>{% trans "Subject syllabus" %}</h1>
			<table class="table_0">
				<tbody>
					<tr>
						<td>
							<a class="link_print link_0" href= "{% url 'metacortex:my:print_subject' syllabus_id=syllabus.id %}" target="_blank">{% trans "Print" %}</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="spacer_10"></div>

			<table class="table_0">
				<tbody>
					{% if syllabus.subject.internal_code %}
						<tr>
							<td class="label">{% trans "Kod przedmiotu" %}:</td>
							<td class="item">{{ syllabus.subject.internal_code|default:" &ndash;" }}</td>
						</tr>
					{% endif %}
					<tr>
						<td class="label">{% trans "Subject" %}:</td>
						<td class="item subject-name"><b>{{ syllabus.subject.name }}</b></td>
					</tr>
					<tr>
						<td class="label">{% trans "Course" %}:</td>
						<td class="item">{{ syllabus.subject.module.get_course }}</td>
					</tr>
					{% if not syllabus.subject.module.sgroup.is_default %}
						<tr>
							<td class="label">{% trans "Specjalność" %}:</td>
							<td class="item">{{ syllabus.subject.module.sgroup.name|lower }}</td>
						</tr>
					{% endif %}
					{% if syllabus.additional_name %}
						<tr>
							<td class="label">{% trans "Title or detailed course name" %}:</td>
							<td class="item">{% if syllabus.additional_name %} {{ syllabus.additional_name }} {% else %} &ndash; {% endif %}</td>
						</tr>
					{% endif %}
					<tr>
						<td class="label">{% trans "Year/Semester" %}:</td>
						<td class="item">
							{% if syllabus.subject.is_annual %}
								{{ syllabus.subject.semester }}/-
							{% else %}
								{{ syllabus.subject.get_roman_year_semester }}
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="label">{% trans "Number of hours" %}:</td>
						<td class="item">{{ syllabus.subject.hours }}</td>
					</tr>
					<tr>
						<td class="label">{% trans "Teacher" %}:</td>
						<td class="item"><b>{{ syllabus.teacher }}</b></td>
					</tr>
					<tr>
						<td class="label">{% trans "Type of classes" %}:</td>
						<td class="item">{{ syllabus.subject.type }}</td>
					</tr>
					<tr>
						<td class="label">{% trans "Type of assessment" %}:</td>
						<td class="item">{{ syllabus.subject.assessment }}</td>
					</tr>
					{% if syllabus.subject.ects %}
						<tr>
							<td class="label">{% trans "ECTS credits" %}:</td>
							<td class="item">{{ syllabus.get_ects }}</td>
						</tr>
					{% endif %}
					{% if syllabus.syllabus_to_ects.all %}
						<tr>
							<td class="label">{% trans "Godzinowe ekwiwalenty punktów ECTS (łączna liczba godzin w semestrze)" %}:</td>
							<td class="item">
								<table class="table_s">
									<tbody>
										{% for workload in syllabus.syllabus_to_ects.all %}
											<tr>
												<td class="right top">{{ workload.hours|default:0 }}</td>
												<td>{{ workload.ects.name }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</td>
						</tr>
					{% endif %}

					{% if syllabus.subject.difficulty %}
						<tr>
							<td class="label">{% trans "Class level" %}:</td>
							<td class="item">
								{% if syllabus.subject.difficulty %}
									{{ syllabus.subject.difficulty }}
								{% else %}
									&ndash;
								{% endif %}
							</td>
						</tr>
					{% endif %}

					{% if syllabus.initial_requirements %}
						<tr>
							<td class="label">{% trans "Prerequisities" %}:</td>
							<td class="item">{% if syllabus.initial_requirements %} {{ syllabus.initial_requirements|safe }} {% else %} &ndash; {% endif %}</td>
						</tr>
					{% endif %}

					{% if syllabus.didactic_methods.all %}
						<tr>
							<td class="label">{% trans "Teaching methods" %}:</td>
							<td class="item">
							<ul class="square">
								{% for didactic_method in syllabus.didactic_methods.all %}
									<li>{{ didactic_method }}</li>
								{% endfor %}
							</ul></td>
						</tr>
					{% endif %}

					{% if syllabus.subjects_scope %}
						<tr>
							<td class="label">{% trans "List of topics" %}:</td>
							<td class="item">{% if syllabus.subjects_scope %} {{ syllabus.subjects_scope|safe }} {% else %} &ndash; {% endif %}</td>
						</tr>
					{% endif %}

					{% if syllabus.assessment_forms.all %}
						<tr>
							<td class="label">{% trans "Evaluation form" %}:</td>
							<td class="item">
							<ul class="square">
								{% for assessment_form in syllabus.assessment_forms.all %}
									<li>{{ assessment_form }}</li>
								{% endfor %}
							</ul></td>
						</tr>
					{% endif %}

					{% if syllabus.assessment_conditions %}
						<tr>
							<td class="label">{% trans "Assessment conditions" %}:</td>
							<td class="item">{% if syllabus.assessment_conditions %} {{ syllabus.assessment_conditions|safe }} {% else %} &ndash; {% endif %}</td>
						</tr>
					{% endif %}

					{% if syllabus.literature %}
						<tr>
							<td class="label">{% trans "Reading list" %}:</td>
							<td class="item">{% if syllabus.literature %} {{ syllabus.literature|safe }} {% else %} &ndash; {% endif %}</td>
						</tr>
					{% endif %}

					{% if syllabus.additional_information %}
						<tr>
							<td class="label">{% trans "Additional remarks" %}:</td>
							<td class="item">{% if syllabus.additional_information %} {{ syllabus.additional_information|safe }} {% else %} &ndash; {% endif %}</td>
						</tr>
					{% endif %}

					{% if syllabus.module_learning_outcomes.all %}
						<tr>
							<td class="label">Modułowe efekty kształcenia:</td>
							<td class="item">
								{% if syllabus.module_learning_outcomes.all %}
									<table class="table_s">
										{% for module_learning_outcome in syllabus.module_learning_outcomes.all %}
											<tr>
												<td class="center top">{{ module_learning_outcome.symbol }}</td>
												<td>{{ module_learning_outcome.description }}</td>
											</tr>
										{% endfor %}
									</table>
								{% else %}
									&ndash;
								{% endif %}
							</td>
						</tr>
					{% endif %}

					{% if syllabus.learning_outcomes_verification %}
						<tr>
							<td class="label">Metody weryfikacji efektów kształcenia:</td>
							<td class="item">{% if syllabus.learning_outcomes_verification %} {{ syllabus.learning_outcomes_verification|safe }} {% else %} &ndash; {% endif %}</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}


        
