{% extends "base_0.html" %}
{% load i18n login static %}

{% block body %}
    <div id="top">
        <div id="logo">
            <a href=""><img src="{% static 'syjon/images/logo_b_60.png' %}" alt=""/></a>
        </div>

        {% block languages %}
            <div id="languages">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}"{% if lang.0 == LANGUAGE_CODE %} selected{% endif %}>
                            {{ lang.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        {% endblock %}

        <div id="user_bar">
            {% block user_bar %}
                {% login_panel %}
            {% endblock %}
        </div>

        <div class="clear"></div>
    </div>

    {% block horizontal_menu %}
        <div id="horizontal_menu" class="bg_color_dark">
            <ul>
                <li><a class="home" href="{% url 'syjon:home' %}"></a></li>
                {% block horizontal_menu_items %} {% endblock %}
            </ul>
            <div class="clear"></div>
        </div>
    {% endblock %}
    
    <div id="content" class="app_pl">        
        <div id="breadcrumb" >{% block breadcrumb %} {% endblock %}</div>

        {% block messages %}
            {% if messages %}
                <div class="messages" class="app_pl">
                    {% for message in messages %}
                        <ul {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            <li>{{ message }}</li>
                        </ul>
                    {% endfor %}
                </div>
                <div class="spacer_5"></div>
            {% endif %}
        {% endblock %}
        
        {% block content_container %} {% endblock %}
    </div>
    
    {% block footer %}
	    <div id="footer" class="app_pl">
	        <span class="copyrights"> </span>
	        <span class="version">{% block footer_version %} sowa 3.0.0 | 2012 - {% now 'Y'%} {% endblock %}</span>
	    </div>
    {% endblock %}

    	
{% endblock %}


